blockquote {
    border-left: 5px solid rgba(0,0,0,.05);
    border-color: rgba(219,148,35,.15);
    margin: 1.5em 1em 1.5em 3em !important;
    padding: 1.2em;
    font-size: 1.1em;
    line-height: inherit;
    font-style: italic;
    position:relative
}

blockquote p{
    margin-bottom: 1.6em !important;
}


.wysiwyg-wrap table, td, th {
    border:1px solid rgba(0, 0, 0, .1)
}

.wysiwyg-wrap table {
    border-collapse: separate;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    margin: 0 0 1.5em;
    width:100%;
    font-size: 1.1em;
}

.wysiwyg-wrap th {
    font-weight:700
}

.wysiwyg-wrap td, th {
    padding: 8px;
    text-align: left;
    border-width:0 1px 1px 0
}

.wysiwyg-wrap tr:hover td {
    background: #4e5066;
    color: #fff;
    border-top: 1px solid #22262e;
    border-bottom:1px solid #22262e
}

.wysiwyg-wrap ul{
    padding-left: 16px;
}

.module-page-news-single .news-single-main .middle .wysiwyg-wrap ul li, .module-page-news-single .news-single-main .middle .wysiwyg-wrap ol li{
    font-size: 12px;
    padding-top: 10px;
}

header .logo span {
    position: relative;
    bottom: 13px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
}

@media (max-width: 991.98px) {
    header .logo span {
        font-size: 10px;
        line-height: 10px;
        bottom: 7px;
    }

    header .menu-wrap-mobile .btn-cta-mobile {
        display: inline-block;
        vertical-align: middle;
        margin: 0 15px 0 10px;
    }

    .wysiwyg-wrap table{
        font-size: 1.1em;
    }

    .wysiwyg-wrap ul{
        padding-left: 10px;
    }

    .module-page-news-single .news-single-main .middle .wysiwyg-wrap p{
        font-size: 1.1em;
        text-align: justify;
    }

    .module-page-news-single .news-single-main .middle .wysiwyg-wrap ul li, .module-page-news-single .news-single-main .middle .wysiwyg-wrap ol li {
        font-size: 1em;
        text-align: justify;
    }

    .page-wrap.home-v2 .module-latest-news-02 .list .item .wrap-desc p{
        line-height: 10px !important;
    }

    .module-page-partners .brand-list.count-2 .item {
        margin-bottom:0px !important;
    }

    #top_30{
        margin-top: 0px !important;
    }

    #top_50{
        margin-top: 10px !important;
    }

    #more_120{
        max-height: 100% !important;
    }

    #more_130{
        max-height: 100% !important;
    }

    #more_150{
        max-height: 100% !important;
    }

    #more_170{
        max-height: 100% !important;
    }

    .charity_supporter{
        flex: 0 0 100% !important;
    }

    .education_supporter{
        flex: 0 0 93% !important;
    }

    .buy-now-global {
        display: none;
    }

    .mobi-100{
        height: 100px;
    }

    .merchandise_supporter img{
        width: 60% !important;
    }

    .vat_pham_supporter img{
        width: 42% !important;
    }

    .module-page-partners-vi{
        margin-top: 56px !important;
    }
}

.module-page-partners .brand-list.count-3 .item {
    /*height: 120px;*/
    flex: 0 0 calc(1/3 * 100%);
    margin-bottom:15px
}

.module-page-partners .brand-list.count-2 .item {
    height: 160px;
    flex: 0 0 50%;
    margin-bottom:15px;
}

.title_don_vi_dong_hanh{
    padding-top: 40px;
}

.module-hero .list .item .wrap-image:before{
    background-image:-webkit-linear-gradient(top, rgba(0,0,0,0), transparent);
}

#more_120{
    max-height: 120%;
}

#more_130{
    max-height: 130%;
}

#more_150{
    max-height: 150%;
}

#more_170{
    max-height: 170%;
}

#top_30{
    margin-top:30px;
}

#top_50{
    margin-top:50px;
}


.popup-submit-form .wrap{
    width: 90vw;
}

.slick-slider .slick-arrow.slick-prev {
    left: 1%;
}

.slick-slider .slick-arrow.slick-next {
    right: 1%;
}

.slick-slider .slick-arrow {
    width: 44px;
    height: 40px;
}

.buy-now-global {
    position: fixed;
    bottom: 20px;
    left: 100px;
    z-index: 1000
}

.buy-now-global .buy-btn {
    background-color: #bf000b;
    color: #fff !important;
    border: solid 5px #ffcc0f;
    line-height: 40px
}

.merchandise_supporter img{
    width: 70%;
}

.vat_pham_supporter img{
    width: 26%;
}

.module-page-partners-vi{
    margin-top: 98px ;
}

.page-wrap.home-v2 .module-tickets .list .item.is-paddock .wrap-desc .btn-cta i{
    color: black;
    border: solid 5px gray;
    background: gray;
}

.page-wrap.home-v2 .module-tickets .list .item .wrap-desc .btn-cta i{
    color: black;
    border: solid 5px gray;
    background: gray;
}

.module-page-landing.hospitality .module-landing-footer .wrap-desc .buy-custom i{
    color: black;
    border: solid 5px gray;
    background: gray;
}

.module-ticket-list .item .buy-custom i{
    color: black;
    border: solid 5px gray;
    background: gray;
}

.buy-btn{
    background: gray;
    border: solid 2px gray;
}

.page-wrap.home-v2 .module-latest-news-02 .list .item .wrap-desc p{
    padding-left: 5px;
}