body{
    width: 23cm;
    height:29.7cm;
    margin: 10mm 20mm 10mm 20mm;
    font-family: Arial;;
 }
img{
    float: left;
    overflow: auto;
    width: 9%;
    height: 110px;
    padding:10px;
}
header{
    float:right;
    overflow: auto;
    padding:10px;
    width: 85%;
    height: 110px;
    text-align: right;
    font-size: 15px;
}
h3{
    border:3px double palevioletred;
    border-color: #ffffff;
    border-collapse: collapse;
    border-top-color: palevioletred;
    font-style: italic;
    text-decoration: underline;
    color: palevioletred;
    font-size: 15px;
    padding: 5px 0px 15px 0px;
}
p{
    font-size: 15px;
}