*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: OpenSans,sans-serif;
    font-size: 20px;
}
.container{
    width: 1200px;
    height:1000px;
    position: relative;
    background-image: linear-gradient(#cb01cb, #1e90ff);
}
.form{
    width: 80%;
    height: 90%;
    position: absolute;
    top: 40px;
    left: 100px;
    background-color: white;
    border-radius: 2%;
}
.top{
    width: 100%;
    height: 100px;
    background-color: black;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    text-align: center;
    color: white;
    padding-top: 25px;
    font-size: 30px;
}
.content{
    padding: 20px;
}
input{
    height: 60px;
    width: 300px;
    border-radius: 4%;
    background-color: #cccccc;
    outline: none;
    border: none;
}
select{
    height: 60px;
    width: 300px;
    border-radius: 4%;
    background-color: #cccccc;
    outline: none;
    border: none;

}

.input-info:after{
    content:" ";
    display: table;
    clear: both;
}
.left-25{
    float: left;
    width: 25%;
    margin-top: 40px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 50px;
 }
.left-25 label{
    font-weight: bold;
    opacity: 60%;
}
.right-75{
    float:left;
    width: 75%;
    margin-top: 40px;
}
label:before{
    content: "";
    display: block;
    height: 15px;
}
.fname, .lname{
    float:left;
    width: 50%;
}
.areacode {
    float: left;
    width: 200px;
}
.phone {
    float: left;
    width: 400px;
}
.bottom{
    float: left;
    width: 100%;
    margin-top: 40px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 50px;
    font-weight: bold;
    opacity: 60%;
}
#checkid1{
    float: left;
    width: 10%;
    display: inline-block;
}
#register{
    height: 60px;
    width: 150px;
    border-radius: 4%;
    background-color: #ff1500;
    outline: none;
    border: none;
    color: white;
    text-align: center;
    font-weight: bold;
    margin-left: 50px;
}


