*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    color:#333333;
    font-weight: 400;
    line-height: 1.5;
    background-color: #f2f2f2;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
.header,.main,.footer{
    float:left;
    width: 100%;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.header-left{
    float:left;
    width: 20%;
}
.header-right{
    float:right;
    width: 80%;
}
.content{
    float:left;
    width: 66.67%;
    padding: 15px;
}
.sidebar{
    float:right;
    width: 33.33%;
}
.header{
    padding: 20px 0;
    background-color: #ffffff;
}
.logo{
    font-size: 30px;
    font-weight: 700;
    color: #5f5a5a;
}
.menu li{
    float:right;
    margin-left: 25px;
    padding: 10px;
}
.menu li:last-child{
    list-style: none;
}
.menu li a{
    float: left;
    font-size: 18px;
    text-transform: uppercase;
    color:#333333;
    font-weight: 600;
    width: 100%;
}
.content1{
    background-color: rgb(255, 0, 0);
    height: 300px;
    opacity: 70%;
 }
.text{
    color: white;
    font-size: 30px;
    padding: 40px 20px;
    display: inline-block;
}
.sidebar{
    padding: 15px;
    background-color: white;
    margin-top: 15px;
}

